<div class="container-sm p-3 mb-5 bg-light">
    <h1>Argumentos:</h1>
    {{#each argumentos}}
        <h5>{{this}}</h5>
    {{/each}}
    <br>

    <h1>OS</h1>
    <h5>{{os}}</h5>
    <br>

    <h1>Version de node</h1>
    <h5>{{version}}</h5>
    <br>

    <h1>Uso total de memoria</h1>
    <h5>{{memoria}}</h5>
    <br>

    <h1>Path de ejecucion</h1>
    <h5>{{path}}</h5>
    <br>

    <h1>ID de proceso</h1>
    <h5>{{pid}}</h5>
    <br>

    <h1>Carpeta raiz</h1>
    <h5>{{root}}</h5>
    <br>

    <h1>Cores</h1>
    <h5>{{cores}}</h5>
</div>